<div class="control-group" title="{{ _('Startup brightness.')|edq }}">
    <label class="control-label" for="settings_plugin_neopixel_illumination_brightness">{{ _('Brightness') }}</label>
    <div class="controls">
        <input type="number"
               class="input-mini"
               data-bind="value: settings.plugins.neopixel_illumination.brightness"
               id="settings_plugin_neopixel_illumination_brightness"
        >
    </div>

</div>
