<div class="control-group" title="{{ _('Number of NeoPixels in strip.')|edq }}">
    <label class="control-label" for="settings_plugin_neopixel_illumination_num_pixels">{{ _('Number of Pixels') }}</label>
    <div class="controls">
        <input type="number"
               class="input-mini"
               data-bind="value: settings.plugins.neopixel_illumination.num_pixels"
               id="settings_plugin_neopixel_illumination_num_pixels"
        >
    </div>
</div>
