<div class="control-group" title="{{ _('GPIO control pin.')|edq }}">
    <label class="control-label" for="settings_plugin_neopixel_illumination_pixel_pin">{{ _('Pixel Pin') }}</label>
    <div class="controls">
        <input type="number"
               class="input-mini"
               data-bind="value: settings.plugins.neopixel_illumination.pixel_pin"
               id="settings_plugin_neopixel_illumination_pixel_pin"
        >
    </div>
</div>
