<div class="control-group" title="{{ _('Watch GCODE')|edq }}">
    <div class="controls">
        <label class="checkbox" for="settings_plugin_neopixel_illumination_parse_gcode">
            <input type="checkbox"
                   data-bind="checked: settings.plugins.neopixel_illumination.parse_gcode"
                   id="settings_plugin_neopixel_illumination_parse_gcode"
            > {{ _('Watch GCODE for M150 commands') }}
        </label>
    </div>
</div>
