<div class="examples">
    <div class="example square">
        <input type="text" class="coloris input-mini" data-bind="value: currentColor, event: {input: updateColor, change: saveColor}" data-coloris>
    </div>
</div>
