<div>
    <h3>{{ _('Neopixel Illumination') }}</h3>

    <form class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"
                           data-bind="checked: settings.plugins.neopixel_illumination.enabled"> {{ _('Enable') }}
                </label>
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"
                           data-bind="checked: settings.plugins.neopixel_illumination.on_startup"> {{ _('Activate on startup') }}
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Pixel Pin') }}</label>
            <div class="controls">
                <input type="number"
                       class="input-mini"
                       data-bind="value: settings.plugins.neopixel_illumination.pixel_pin"
                >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Pixel Order') }}</label>
            <div class="controls">
                <select data-bind="options: ['GRB', 'GRBW', 'RGB', 'RGBW'], value: settings.plugins.neopixel_illumination.pixel_order"></select>
            </div>
        </div>
    </form>
</div>
