<div>
    <h3>{{ _('Neopixel Illumination') }}</h3>

    <form class="form-horizontal">
        {% include "snippets/settings/enable.jinja2" %}
        {% include "snippets/settings/watchGcode.jinja2" %}
        {% include "snippets/settings/pixelPin.jinja2" %}
        {% include "snippets/settings/numberOfPixels.jinja2" %}
        {% include "snippets/settings/pixelOrder.jinja2" %}
        {% include "snippets/settings/brightness.jinja2" %}

        <div>
            <div>
                <small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.form-horizontal', container: '.hide' }"><i class="fas fa-caret-right"></i> {{ _('Advanced options') }}</a></small>
            </div>
            <div class="hide">
                {% include "snippets/settings/sudoPassword.jinja2" %}
            </div>
        </div>
    </form>
</div>
